{% extends 'partials/base.html' %}
{% block title %}Order Page{% endblock title %}

{% block content %}
    {% include 'partials/topnav.html' %}
    <!--Table-->
    <div class="container">
        <div class="row my-4">
            <div class="col-md-4">

            </div>
            <div class="col-md-8">
                <table class="table bg-white">
                    <thead class="bg-info">
                        <tr class="text-white">
                            <th scope="col">Product</th>
                            <th scope="col">Category</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Order by</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                        <tr>
                            <td>{{order.product}}</td>
                            <td>{{order.product.category}}</td>
                            <td>{{order.order_quantity}}</td>
                            <td>
                                {{order.staff.username}}
                            </td>
                            <td>
                                {{order.date}}
                            </td>
                        </tr>
                     {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <!--End Table-->
{% endblock content %}


